# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Generated
*.g.dart
*.freezed.dart
lib/core/localization/app_localizations*.dart

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db

# Firebase
google-services.json
GoogleService-Info.plist
firebase_options.dart

# Keystore / signing
*.jks
*.keystore
*.p12
key.properties

# Coverage
coverage/

# Crashlytics
crashlytics-build.properties
